*{
    
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 200vh;
    width: 100vw;
    overflow-x: hidden
}

header, footer , main {
    border: 2px solid red;

}

body{
    /* margin-left: 15%; */
    /* width: 1290px; */
    border: 1px solid blue;
    display: grid; 
    grid-template-rows: 1fr 2fr 1fr;
}

.background{
    /* position: relative; */
   
    background-color: #0891b2 ;
    min-height: 100%;
    min-width: 100%;
    transform: rotate(352deg) scale(5) translateX(-1%);
    transform-origin: left bottom;
}    

header{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
}

header *{
    background-color:transparent;
    
}

.header-child-2{
    display: flex;
    margin-left: -75%;
    margin-top: 15vh;
    margin-bottom: 10vh;
    align-items: center;
    align-self: flex-start;
    z-index: 2;
    background-color: transparent;
}


img{
    background-color: transparent;
    height: auto;
}
img, .wrapper, .background{
    box-shadow: 1px 1px 1px #afafaf;
    
}
.wrapper {
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 35vw;
    height: 70%;
    background-color: white;
}   

.wrapper h1{
    font-size: larger;
}
.wrapper *{
    margin: 0;
    padding: 0;
}


.icons{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    /* padding: 2em; */
}

.icons svg{
    height: 3vh;
}

main{
   
}

.portfolio-itens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    padding: 5rem;
    gap: 2.5em;
}

main h1{
    padding-left: 5rem;
    padding-top: 2rem;
    margin-bottom: -2rem;
}

.card{
    border: 1px solid green;
    min-height: 40vh;   
}

.card-img{
    height: 60%;
    width: auto;
    background-color: #0891b2;
}